<div id="app">
  <!-- Navigation bar -->
  <Navbar></Navbar>

  <% if user_signed_in? %>
    <Userpage></Userpage>
  <% else %>
    <app></app>
  <% end %>

  <!-- footer -->
  <div id="footer" class="text-center">
    Copyright 2019 Tetsunari Sumiyoshi
  </div>
</div>

<%= javascript_pack_tag 'home' %>
