<div id="app">
  <!-- Navigation bar -->
  <Navbar></Navbar>

  <% if user_signed_in? %>
    <Userpage v-bind:auth_token="auth_token"></Userpage>
  <% else %>
    <app></app>
  <% end %>
  <Tweets></Tweets>
</div>

<%= javascript_pack_tag 'home' %>
